<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center mb-4">
            <a routerLink="/viewDoctors" class="btn btn-primary mr-2">View Doctors</a>
            <a routerLink="/addDoctor" class="btn btn-primary mr-2">Add Doctor</a>
            <a routerLink="/viewToothbrushes" class="btn btn-primary mr-2">View Toothbrushes</a>
            <a routerLink="/addToothbrush" class="btn btn-primary">Add Toothbrush</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="homePanel" class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
